header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background-image: linear-gradient(45deg, var(--bitcoin-orange), var(--black));
}

header img {

    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;

}

.header--title-container {

    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
    font-size: 1.4rem;

}

.header--title-container h1 {

   font-weight: 700;
   font-size: 2.4rem;
   line-height: 2.5rem;
   color: var(--just-white);

}

.header--title-container p{

    margin-top: 30px;
    color: var(--soft-orange)


}

.header--title-container .header--button {

    position: absolute;
    left: calc(50% - 115px);
    top: 27rem;
    color: var(--black);
    border-radius: 0.5rem;
    font-weight: 700;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

}

.header--title-container .header--button span {

    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url('../assets/icons/down-arrow.svg');

}

.main--coins{

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 32rem;
    background-color: var(--off-white);
    padding-bottom: 3rem;
}

.main--coins img {

    margin-top: 60px;
    width: 20rem;

}

.coins--text-container {

    width: 90%;

}

.coins--text-container p {

    font-size: 1.4rem;
    color: var(--grey);
    margin-top: 2rem;

}

.coins--table__slider {

    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    height: 33rem;

}

.coins--card__container {

    min-width: 19rem;
    margin: 0rem 6.5rem;
    scroll-snap-align: center;

}

.coins--table {

    margin-top: 3rem;
    text-align: left;

}

.coins--table h3{

    font-size: 1.8rem;
    color: var(--bitcoin-orange);
    padding: 1rem 1.2rem;

}

.coins--table table {

    width: 100%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    border-radius: 1rem;

}

.coins--table table td, .coins--table table th{

    background-color: var(--just-white);
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--warm-black);

}

.coins--table table td {

    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.coins--table table td span{

    width: 1.3rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;

}

.coins--table table th{

    font-weight: 500;
    color: var(--grey);
    width: 60%;

}

.table--top-left {

    border-top-left-radius: 1rem;

}

.table--top-right {

    border-top-right-radius: 1rem;

}
.table--bottom-left {

    border-bottom-left-radius: 1rem;

}

.table--bottom-right {

    border-bottom-right-radius: 1rem;

}

.coins--table-footer {

    margin-top: 2rem;
    background-color: var(--soft-orange);
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 0.5rem;

}

.down {

    background-image: url('../assets/icons/trending-down.svg');

}

.up {

    background-image: url('../assets/icons/trending-up.svg');

}

.balance h3{

    color: var(--secondary-blue)

}

.table-footer--blue {

    background-color: var(--soft-blue);

}

/* .coins--next {

    background-image: url(../assets/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1rem;
    width: 1.8rem;
    transform: rotate(270deg);
    position: absolute;
    top: 2rem;
    cursor: pointer;
    right: 3.5rem;
    top: 53.5rem;


} */

.main--benefits {

    background-color: var(--warm-black);
    display: flex;
    justify-content: center;
    min-width: 32rem;
    position: relative;

}

.main--benefits__container {

    width: 90%;

}

.main--benefits__text-container {

    text-align: center;
    
}

.main--benefits__text-container h2{
    
    margin-top: 6rem;
    color: var(--just-white);
    margin-bottom: 2rem;
    
}

.main--benefits__text-container p {
    
    margin-top: 2rem;
    color: var(--warm-black--text);
    font-size: 1.4rem;


}

.main--benefits__descriptions {

    margin-top: 3rem;
    margin-bottom: 5rem;

}

.benefits__descriptions--element {

    background-color: var(--warm-blackxd);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
    height: 15.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 16px rgba(000, 000, 000, 0.2);
}

.benefits__descriptions--element h3 {

    font-size: 1.8rem;

}

.benefits__descriptions--element p {

    font-size: 1.4rem;
    color: var(--warm-black--text);
    line-height: 1.8rem;

}

.benefits--batatalogo {

    background-image: url('../assets/img/potatoe-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    position: absolute;
    top: -2rem;
    

}

.main--image {

    width: 100%;
    min-width: 32rem;
    height: 50vh;
    background-image: url('../assets/img/bitcoinbaby.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 6rem;

}

.main--plans {

    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    min-width: 32rem;

}

.plans--text-container {

    width: 90%;
    text-align: center;
    align-self: center;
    

}

.plans--text-container h2 {

    margin-top: 6rem;

}

.plans--text-container p {

    font-size: 1.4rem;
    color: var(--text);
    margin-top: 2rem;

}

.plans__container {

    display: flex;
    margin-top: 1rem;
    margin-bottom: 6rem;
    padding: 3rem 0rem;
    height: 31.6rem;
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

}

.plan {

    background-color: var(--just-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
    border-radius: 1rem;
    padding: 2rem;
    width: 55%;
    min-width: 190px;
    min-height: 23rem;
    margin: 0px 1rem;
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.08);
    
}

.plan p {
    
    /* white-space: normal; */
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--text);
    text-align: center;
}

.plan .plan--pay {

    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;

}

.plan .plan--recomended {

    background-color: var(--bitcoin-orange);
    color: white;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;
    top: -1.3rem;
}

.plan .plan--price {

    font-family: 'Inter', sans-serif;
    position: relative;
    margin-top: 0.5rem;

}

.plan .plan--price span {

    font-size: 1.2rem;
    position: absolute;
    left: -1rem;
    top: 1rem;

}

.plan .plan--price p {

    font-weight: 700;
    font-size: 5.2rem;
    color: var(--black);
    margin-top: 0;

}

.plan button {

    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
    border: 0.1rem solid var(--bitcoin-orange);
    background-color: var(--off-white);
    border-radius: 0.3rem;
    padding: 1.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plan button span {

    display: inline-block;
    height: 1.5rem;
    width: 2rem;
    background-image: url('../assets/icons/arrow-right.svg');
    background-position: center;
    background-size: cover;
    margin-left: 0.5rem;

}

footer {

    background-color: var(--bitcoin-orange);
    color: white;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;

}

.footer__container {

    width: 70%;
    max-width: 32rem;
    display: flex;
    justify-content: space-between;

}

.footer--links {

    font-size: 1.4rem;

}

.footer--links ul li:not(li:last-child) {

    margin-bottom: 1rem;

}

.footer--logo {

    display: inherit;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: center;

}

.footer--logo span {

    margin-top: 1rem;

}

@media screen and (min-width: 375px) {

    .coins--card__container {

        margin: 0rem 9.25rem;

    }

}

@media screen and (min-width: 414px) {

    .coins--card__container {

        margin: 0rem 11.2rem;

    }

}

@media screen and (min-width: 814px) {

    .header--title-container p {

        font-size: 2rem;

    }
    
    .coins--card__container {

        margin: 0rem 1.5rem;

    }

    .coins--table__slider {

        display: flex;
        justify-content: center;
    
    }

    .main--benefits__container {

        width: 70.5rem;

    }

    .main--benefits__descriptions {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .benefits__descriptions--element {

        /* background-color: var(--warm-blackxd);
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        color: white;
        height: 15.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 0.5rem;
        box-shadow: 0px 4px 16px rgba(000, 000, 000, 0.2); */
        max-width: 34.5rem;
        max-height: 15.2rem;

    }

    
    .plan {

        max-width: 22.3rem;
        
    }

    .plans__container {

        justify-content: center;
        overflow: hidden;
    
    }

    .coins--table__slider {

        overflow: hidden;
    
    }

    header {
        height: 500px;
    }

    header img {

        width: 150px;
        align-self: center;
        margin-top: 0rem;
    
    }

    .header--title-container {

        width: 53%;
        display: flex;
        flex-direction: column;
    
    }
    

    .header--title-container h1, .main--benefits__text-container h2, .coins--text-container h2 {

        font-size: 4rem;
        line-height: 4.2rem;
        align-items: center;
     
    }

    
    .header--title-container p{

        margin-top: 30px;
        width: 80%;
        align-self: center;
    
    }

    .coins--text-container {

        display: flex;
        margin-top: 4rem;
        flex-direction: column;
        align-items: center;
        width: 65%;

    }

    .coins--text-container p {

        font-size: 2rem;
        width: 90%;
        align-items: center;

    }



    .header--title-container .header--button {

        top: 44rem;
        margin-top: 3.5rem;
    
    }

    .main--benefits {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main--benefits__text-container {

        display: flex;
        flex-direction: column;

    }

    .main--benefits__text-container p{

        margin-top: 1rem;
        font-size: 2rem;
        width: 60%;
        align-self: center;
    
    
    }

    /* .coins--text-container p {

        font-size: 1.4rem;
        color: var(--text);
        margin-top: 2rem;
    
    } */

}

@media screen and (min-width: 1152px) {

    header {
        height: 450px;
    }

    header img {

        width: 150px;
        align-self: center;
        margin-top: 0rem;
    
    }

    .header--title-container {

        width: 41%;
    
    }

    .header--title-container p{

        width: 100%;
    
    }

    .header--title-container .header--button {

        top: 39rem;
        margin-top: 3.5rem;
    
    }

}

@media screen and (min-width: 1440px) {

    header img {

        margin-top: 4rem;

    }

    .header--title-container {

        width: 50%;
    
    }

    .header--title-container h1 {

        font-size: 4rem;
    
    }

    .header--title-container p {

        width: 80%;

    }

    .coins--text-container h2 {

        width: 48%;

    }

    .coins--text-container p {

        width: 49%;

    }

    

}